@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@keyframes scan-line {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
  
  .animate-scan {
    animation: scan-line 2s infinite alternate;
  }
  